body{
  padding: 40px 0;
}



.navbar-nav{
  margin: -5px 0 !important;
}

.navbar-nav a {
  text-transform: uppercase;
  font-size: 14px !important;
  font-weight: 500;
}

.navbar-default{
  background-color: transparent !important;
  border: none !important;
  background-image: none !important;
  box-shadow: none !important;
}

.navbar {
  margin-bottom: 70px !important;
}



.logo{
  background:   url(http://c3drive.com//img/graphite-logo.svg) 50% 50% / 140px 33px no-repeat;
  -webkit-mask:   url(http://c3drive.com/img/graphite-logo.svg) 50% 50% / 140px 33px no-repeat;
  -o-mask:    url(http://c3drive.com/img/graphite-logo.svg) 50% 50% / 140px 33px no-repeat;
  -ms-mask:   url(http://c3drive.com/img/graphite-logo.svg) 50% 50% / 140px 33px no-repeat;
  background-color: #fff;
  height: 33px;
  width: 140px;
  float: left;
  margin-left: 1px;
}

article {
  margin: 40px 0;
  font-size: 17px;
}

.table{
  margin-top: 20px;
}

.tags{
  margin: 20px 0 10px;
}

.project-tag{
  border: 1px solid #c0d4db;
  padding: .4em .5em;
  background-color: #f7fdff;
  text-align: center;
  color: #3e6d8e;
  font-size: 12px;
  margin: 12px 0;
}

.project-users{
  border: 1px solid #c0d4db;
  padding: .4em .5em;
  background-color: #A9DABE;
  text-align: center;
  color: #3e6d8e;
  font-size: 12px;
  margin: 12px 0;
}

tr {
  border: none !important;
}

.project-table{
  border-bottom: 1px solid #ccc !important;
  border-top: none !important;
}

.project-table td{
  padding: 10px 8px !important;
}


.hidebox{
  display: none;
}


.bghead tr{
  background-color: transparent;
  border-bottom: 4px solid #FCCA57 !important;
}



.green{
  color: #4DA82D
}

.green-bg{
  color: #fff;
  background-color: #4DA82D
}


.red{
  color: #EF461B
}

.black{
  color: #000
}


.blue{
  color: #74ADCA
}

.yellow{
  color: #FCCA57;
}

.purple{
  color: #D5ACF1;
}

.spacer{
  height: 70px;
  width: 100%;
  overflow: hidden;
}

.spacerSmall{
  height: 20px;
  width: 100%;
  overflow: hidden;
}

.project-table td.thisWeek{
  padding: 99px 0 40px !important;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;

}

.pull-right a:hover{
  text-decoration: none;
}

.h4{
  font-size: 19px;
  margin-bottom: 19px;
}




#timing{
  top: 0;
  vertical-align:top;
}


.timeTitle{
  font-size: 14px;
  color: #444;
}

.timeTitle:hover{
  text-decoration: none;
}


h6 a{
  text-decoration: none;
}


.focused {
  color: blue;
}


.trhover{
  background-color: white
}

.trhover .delete{
  display: none;
  width: 12px
}

.trhover:hover .delete{
  display: inline;
  width: 12px;
  font-size: 12px;
  font-style: normal;
}

.th{
  width: 28px !important;
}


.tdtext{
  margin: 40px 0;
  padding-bottom: 19px;
  background-color: #f1f1f1;
}
.ui-autocomplete-input {
  border: none; 
  font-size: 14px;
  width: 300px;
  height: 24px;
  margin-bottom: 5px;
  padding-top: 2px;
  border: 1px solid #DDD !important;
  padding-top: 0px !important;
  z-index: 1511;
  position: relative;
}
.ui-menu .ui-menu-item a {
  font-size: 12px;
}
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1051 !important;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}
.ui-state-hover, .ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
}
#modalIns{
    width: 500px;
}

#phaseTitleField { margin-bottom: 10px; }
[contenteditable="true"] { 
  padding: 10px; 
  /*outline: 2px dashed #CCC; */
}
[contenteditable="true"]:hover { 
/*  outline: 2px dashed #0090D2; */
}

.nobox {
border: none;
background-color: #fff;
}
















